.obsidian/themes
.obsidian/appearance.json
.obsidian/workspace.json
.obsidian/app.json

.obsidian/main.js
.obsidian/manisfest.json
.obsidian/styles.css
.obsidian/workspace-mobile.json
.obsidian/community-plugins.json